@import "_variables.less";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600);

* {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

body {
  background: @main-background !important;
}